altgraph==0.17
amply==0.1.4
certifi==2020.12.5
chardet==4.0.0
docutils==0.16
future==0.18.2
idna==2.10
numpy==1.20.0rc1
pandas==1.1.5
pefile==2019.4.18
PuLP==2.4
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2020.4
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
urllib3==1.26.4
